{% extends 'base.html' %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 30px">
        <h2>Регистрация</h2>
        <hr style="border-color: gray">
        <form action="#" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <p style="margin-top: 15px">
                <input type="submit" value="Отправить">
                &nbsp;
                <input type="reset" value="Очистить">
            </p>
        </form>
    </div>
{% endblock content %}
