{% extends 'base.html' %}

{% block title %}Удаление события{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 30px">
        <h2>Удаление события</h2>
        <hr style="border-color: gray">
        <h4>{{ event.title }}</h4>
        <h6>{{ event.publish }} / {{ event.status }}</h6>
        <form action="#" method="post">
            {% csrf_token %}
            <p>
                <input type="submit" value="Подтвердите удаление">
                <input type="button" onclick="history.back();" value="Отмена"/>
            </p>
        </form>
    </div>
{% endblock content %}
