{% extends 'base.html' %}

{% block title %}Про сайт{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 30px">
        <h2>Про сайт</h2>
        <hr style="border-color: gray">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aperiam aspernatur atque blanditiis
            culpa cumque deleniti, dolorem ex libero minus nostrum numquam obcaecati, perspiciatis quia recusandae
            repudiandae sint veniam?
        </div>
        <div>Itaque, neque provident rerum sapiente voluptatem voluptates voluptatum. Ad minus placeat praesentium quod
            sunt veniam! Adipisci aliquid animi aperiam assumenda blanditiis fugiat magni necessitatibus, nemo odit,
            quaerat sequi sit totam.
        </div>
        <div>Adipisci debitis delectus esse inventore minus officiis porro quibusdam quis sit soluta? Culpa eos
            excepturi nulla recusandae voluptatum? Alias aspernatur dicta nemo neque numquam officia officiis sed
            similique tenetur voluptatem!
        </div>
        <div>Ab accusantium corporis culpa dolore dolores dolorum eius est explicabo facere facilis fugit, id ipsa
            labore magnam molestiae nam nesciunt, optio pariatur quae quo ratione repellat sunt, temporibus totam ut.
        </div>
        <div>Atque consequuntur distinctio nisi quasi voluptatum? Dolor fuga illum ipsam modi mollitia neque placeat
            ratione? Adipisci debitis dicta dignissimos eos et impedit labore pariatur. Aliquam magni modi quibusdam
            ratione suscipit!
        </div>
        <div>Dicta ex ipsum iste placeat! Accusantium ad atque aut consectetur consequatur deleniti dolores facilis
            incidunt ipsum iste laborum maxime, mollitia non nostrum quae quas quia, quidem quos, ut voluptatum. Culpa?
        </div>
        <div>Accusamus amet assumenda aut corporis debitis dolor dolores ea eos est fugit hic ipsa, ipsam itaque maxime
            modi molestiae molestias mollitia omnis praesentium, qui quos recusandae tempora ut, voluptatem voluptatum.
        </div>
    </div>
{% endblock content %}
