{% extends 'base.html' %}

{% block title %}Контакты{% endblock title %}

{% block content %}
    <div class="container" style="padding-top: 30px">
        <h2>Контакты</h2>
        <hr style="border-color: gray">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem beatae consequatur culpa
            dignissimos est, eveniet iste laboriosam nostrum quae quibusdam repellat suscipit vel. Placeat saepe, vero!
            Ex, illo, saepe.
        </div>
        <div>A alias at, consequatur doloremque ducimus eos eveniet harum hic iste, magni nostrum officia quidem
            similique. Consequuntur, debitis dolorem error esse eveniet illo impedit in nemo nobis quod reiciendis
            voluptates!
        </div>
    </div>
{% endblock content %}